ACR_REGISTRY=crpi-sm40omlac0wou3kp.cn-hangzhou.personal.cr.aliyuncs.com
ACR_NAMESPACE=wen-image
IMAGE_TAG=v1.0.0

MYSQL_ROOT_PASSWORD=replace_with_a_long_random_password
REDIS_PASSWORD=replace_with_a_long_random_password
RABBITMQ_USER=prizeforge
RABBITMQ_PASSWORD=replace_with_a_long_random_password
